# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
### Above combination will ignore all files without extension ###

.DS_Store
*.pyc
c/*
binary-encodings-prework/*
go-book/*
introduction-prework/*
networking/*
psh/*
takehome/*
.vscode/settings.json
ls-clone/.env
*.c